<!DOCTYPE html>
<html>
<head>
    <title>Sysweb Login</title>
    <style type="text/css">
        form{
            width: 200px;
            margin: auto;
        }
        form input{
            width: 90%;
            height: 30px;
            box-sizing: border-box;
            margin: 10px 0 ;
        }
        input[type=submit]{
            height: 30px;
            border-image: none;
            border-radius: 0px;
            border: 0px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form method="post">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>